.env
*.pyc
logs/*.log
.idea/
crawler/out.txt
crawler/bverify.jpg
crawler/gverify.jpg
crawler/data.json
crawler/tesseract.log
crawler/verify.jpg
tmp/
crawler/cookies/
crawler/spiders/test.py
crawler/spiders/pme.py
nodejs/jin10_kuaixun/detail/
nodejs/jin10_kuaixun/images/
yaml/
nodejs/jin10_kuaixun/logs/
nodejs/jin10_kuaixun/config/
